<div class="page-header clearfix">
  <h1 class="pull-left">Thank you!</h1>
  <div class="pull-right back-btn">
    <%= link_to '戻る', root_path, class: "btn btn-default" %>
  </div>
</div>

<div class="row">
  <div>
    <%= image_tag @stock.image.url, class: "center-block img-responsive" %>
  </div>
  <br>
</div>
