<h1>自動販売機</h1>

<% @stocks.each do |s| %>
  <tr>
    <td><%= image_tag s.image.url, size: '160x100' %></td>
    <td><%= s.name %></td>
    <td><%= s.price %></td>
    <% if s.count == 0 %>
      <td>売り切れ</td>
    <% else %>
      <td><%= link_to "Purchase", done_purchase_path(s) %></td>
    <% end %>
  </tr>
<% end %>
