// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
  background-color: #FAFAFA;
  margin-top: 80px;
  width: 80%;
}

.form {
  padding: 20px 30px;
  margin-top: 80px;
  width: 70%;
  max-width: 600px;
  height: 350px;
  border: solid 1px #BDBDBD;
  border-radius: 5px;
  background-color: #FAFAFA;
  input {
    width: 100%;
    margin-top: 5px;
  }
}

.image {
  width: 30%;
}
